
  <!-- Hero -->
  <section class="et-hero-tabs">
    <h1>TravelBuddy</h1>
    <h3>Your new travel habit</h3>
    <div class="et-hero-tabs-container">
      <a class="et-hero-tab" href="#home">Plan Your Trip</a>
      <a class="et-hero-tab" href="#tab-hotel">Hotel </a>
      <a class="et-hero-tab" href="#tab-rental">Rental</a>
      <a class="et-hero-tab" href="#tab-flight">Flight</a>
      <a class="et-hero-tab" href="#tab-other">Other</a>
      <span class="et-hero-tab-slider"></span>
    </div>
  </section>

  <!-- Main -->
  <main class="et-main">
    <section class="et-slide" id="home">
      <h1>Home</h1>
      <h3>something about home</h3>
    </section>
    <section class="et-slide" id="tab-hotel">
      <h1>Hotel</h1>
      <h3>something about Hotel</h3>
    </section>
    <section class="et-slide" id="tab-rental">
      <h1>Rental</h1>
      <h3>something about Rental</h3>
    </section>
    <section class="et-slide" id="tab-flight">
      <h1>Flight</h1>
      <h3>something about Flight</h3>
    </section>
    <section class="et-slide" id="tab-other">
      <h1>Other</h1>
      <h3>something about other</h3>
    </section>
  </main>




  
  <!-- <div class="example-button-row">
    <button mat-button (click)="visitHome()">Home</button>
    <button mat-button (click)="visitHotels()">Hotel</button>
    <button mat-button (click)="visitRental()">Rental</button>
    <button mat-button (click)="visitFlights()">Flights</button>
    <button mat-button (click)="visitDiscover()">Discover</button>
  </div>
  <span class="example-spacer"></span>
  <button mat-icon-button color="primary" aria-label="Example icon button with a vertical three dot icon" (click)="visitProfile()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<div class="app-content">
  <router-outlet></router-outlet>
</div>

<mat-toolbar class="footer-toolbar">
  © 2024 TravelBuddy
  <div class="container">
    <span class="spacer"></span>
  </div> -->

