.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}



mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures items are spaced out */
}

.example-button-row {
  display: flex;
  justify-content: center; /* Center buttons horizontally */
  flex-grow: 1; /* Allows the button row to grow and take available space */
}


.example-icon {
  flex-shrink: 0; /* Prevents the icon from shrinking */
}

.footer-toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.app-content {
  margin-bottom: 60px; /* Adjust based on the height of your footer */
}